.tree-node {
    position: relative;
    display: flex;
    flex-direction: column;
    width:50em;
    max-width: 60%;
    background-color: rgb(128, 192, 245);
    padding: 0.5em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 0.5em;

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;

        h3 {
            margin: 0.5em 0;
        }

        .edit-btn {
            margin-left: auto;
            display: inline-block;
            width: 3em;
            height: 3em;
            background-color: dodgerblue;
            border: none;
            border-radius: 0.3em;
            color: white;
        }

        .delete-btn {
            display: inline-block;
            width: 3em;
            height: 3em;
            margin-left: 0.3em;
            background: red;
            color: white;
            border: none;
            border-radius: 0.4em;
        }
    }

    .body {
        width: 100%;
        display: flex;
        flex-direction: row;

        .desc {
            width: 65%;
        }

        .deadline {
            margin-left: auto;
        }
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;

    }
}

.error {
    color: red;
}


.node-link {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    font-weight: bold;

    top: 0.5em;
    right: 0.5em;

    background-color: gray;
    padding: 0.3em;
    color: white;
    border-radius: 0.4em;
}