<button class="add-goal-btn" (click)="onCreateRootGoal()">+ Add Goal</button>
<p-tree
  [value]="nodes" 
>
  <ng-template let-node pTemplate="default">
    <goal-node 
      [treeNode]="node"
      (createChildEvent)="onCreateChildGoal($event)"></goal-node>
  </ng-template>
</p-tree>

<p-dialog [(visible)]="visible">
  <ng-template #headless>
      <div>
        <new-goal 
          [parentNode]="newGoalFormParentNodeRef"
          (goalCreated)="onNewGoalCreated($event)"
          ></new-goal>
      </div>
</ng-template>